{% extends "layout.html" %}
{% block title %}
  DetroitPBX Blog
{% endblock %}
{% block body %}
 <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/images/QLine_streetcar_side_view_1920x1018.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Grinding in Detroit</h1>
              <span class="lead">Survival Guide for Detroit Entreprenuers</span>
            </div>
          </div>
        </div>
      </div>
    </header>
 <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Test the Market!
              </h2>
              <h3 class="post-subtitle">
                
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="http://mackhendricks.com">Mack Hendricks</a>
              on January 15, 2018</p>
          </div>
	</div>      
      </div>
    </div>
{% endblock %}
