{% extends "layout.html" %}
{% block title %}
  DetroitPBX Blog
{% endblock %}
{% block body %}
 <!-- Page Header -->
    <header class="blog-header"> 
      <div class="blog-overlay">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="site-heading text-white">
              <h1>Grinding in Detroit</h1>
              <span class="blog-lead">Survival Guide for Detroit Entreprenuers</span>
            </div> 
	 </div>
        </div>
      </div>
    </header>
 <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="/blog/post">
              <h2 class="post-title">
                Dipping Your Toe In The Water
              </h2>
              <h3 class="post-subtitle">
                
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="http://mackhendricks.com">Mack Hendricks</a>
              on January 15, 2018</p>
          </div>
	</div>      
      </div>
    </div>
{% endblock %}
