<!DOCTYPE HTML>
{% from 'util.jinja2.html' import link_tag, script_tag, tracked_link, img_tag %}
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DBT: Hacking With The Homies Developer Conference</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is the first Software Developer Conference with a 100% focus on Black and Brown software developers and it's popping off in Detroit." />
	<meta name="keywords" content="detroit, black, software developers, designers, project managers, devops" />
	<meta name="author" content="Detroit Black Tech" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Hacking With The Homies Developer Conference"/>
	<meta property="og:image" content="http://detroitblacktech.org/static/images/2021/hwthdc_social_image.jpg"/>
	<meta property="og:url" content="http://hackingwiththehomies.org"/>
	<meta property=”og:type” content=”website” />
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content="This is the first Software Developer Conference with a 100% focus on Black and Brown software developers"/>
	<meta name="twitter:title" content="Hacking With The Homies Developer Conference" />
	<meta name="twitter:image" content="http://detroitblacktech.org/static/images/2021/hwthdc_social_image.jpg" />
	<meta name="twitter:url" content="http://hackingwiththehomies.org" />
	<meta name="twitter:card" content="summary" />

	<!-- livezilla.net PLACE SOMEWHERE IN BODY -->
	<script type="text/javascript" id="5f8ef76d45ef7c1a1ff9a1d9443d3250" src="//dopensource.com/livezilla/script.php?id=5f8ef76d45ef7c1a1ff9a1d9443d3250" defer></script>
	<!-- livezilla.net PLACE SOMEWHERE IN BODY -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156296463-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156296463-1');
</script>



	<!-- Animate.css -->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/animate.css')}}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/icomoon.css')}}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/themify-icons.css')}}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/bootstrap.css')}}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/magnific-popup.css')}}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/owl.carousel.min.css')}}">

	<link rel="stylesheet" href="{{url_for('static', filename='./css/owl.theme.default.min.css')}}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/flexslider.css')}}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{url_for('static', filename='./css/style_2021.css')}}">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="gtco-loader"></div>

	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-8">
					<!--<div id="gtco-logo"><a href="index.html">Detroit Black Tech</a></div> -->
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li><a href="/" class="external">Home</a></li>
						<li><a href="/#about" class="external">About</a></li>
            <li><a href="/#initiatives" class="external">Initiatives</a></li>
						<li><a href="/#initiatives" class="external">Events</a></li>
						<li class="active"><a href="#" data-nav-section="conference-home">Conference</a></li>
						<li><a href="/#gtco-our-team" class="external">Our Team</a></li>
							<li><a href="#" data-nav-section="contact">Contact Us</a></li>
						<li class="btn-cta"><a href="/register" class="external"><span>Register</span></a></li>
						<!-- For external page link -->
						<!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<section id="gtco-hero" class="conference-gtco-cover" style="background-image: url('static/images/2021/hwthdc_main_2021.png')"  data-section="conference-home"  data-stellar-background-ratio="0.0">
    <div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<!--<p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/381541025" class="popup-vimeo"><i class="icon-controller-play"></i></a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-about" data-section="conference-sponsors">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Diamond Sponsor</h1><br>
					<a href="https://www.duo.com" target="_blank"><img src="static/images/2021/duo_500x161.png" height="300" style="max-width:50%;height:auto;" alt="HWTH Developer Conference 2021 Sponsors"></a>
					<p class="sub"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Gold Sponsors</h1><br>
					<a href="https://www.detroitlabs.com/" target="_blank"><img src="static/images/2021/detroitlabs_logo.png" height="300" style="max-width:50%;height:auto;" alt="HashiCorp Sponsor"></a>
					<a href="https://hashicorp.com" target="_blank"><img src="static/images/2021/hashicorp_500x151.png" height="300" style="max-width:50%;height:auto;" alt="HashiCorp Sponsor"></a>
					<p class="sub"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Bronze Sponsors</h1>
					<a href="https://www.integral.io/" target="_blank"><img src="static/images/2021/integral_logo.png" height="300" style="max-width:50%;height:auto;" alt="HashiCorp Sponsor"></a>
					<p class="sub"></p>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-about" data-section="conference-about">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Designed For Us</h1>
					<p class="sub">This is the first Software Developer Conference with a 100% focus on Black and Brown software developers.<br>
				   The conference was designed and developed in Detroit!</p>
				</div>
			</div>
		</div>
	</section>

	<section id="agenda" data-section="practice-areas">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Conference Agenda</h1>
					<p class="sub" style="font-weight:bold">February 24 & 25, 2021<br>Location: Virtual<br>All Times are Eastern Time (GMT -5)</p>

					<!--<p class="subtle-text animate-box" data-animate-effect="fadeIn">Initiatives</p> -->
					<a href="/register" class="btn btn-primary" role="button" aria-pressed="true" target="_blank">Register Now</a>
				</div>
			</div>
			<!--<div class="row agenda_header">
				<div class="col-md-6 border-right">
					<div class="gtco-practice-area-item animate-box">
						<h2>Day 1 - Feb 24th</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<h2>Day 2 - Feb 25th</h2>
					</div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-6 border-right">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img style="width:200px" src="static/images/2021/kelsey_hightower_400px.png" alt="Kelsey Hightower">
							<h3 style="display:inline">Feb 24 @ 12pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Welcome & Keynote</h3>
							<h4>Speaker: Kelsey Hightower &nbsp<a href="https://twitter.com/kelseyhightower" target="_blank"><i class="icon-twitter"></i></a></h4>
							<p>Kelsey will provide his thoughts and insights on the continous shift to Cloud Computing and what we should be focusing on.
              </p>
							<p>
								&nbsp;
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/dale-kurt_murray_400px.png" width="200px" alt="Dale-Kurt Murray">
							<h3 style="display:inline">Feb 25 @ 12pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Contain Yourself: Containers & Serverless</h3>
								<h4>Speaker: Dale-Kurt Murray &nbsp<a href="https://twitter.com/dalekurt" target="_blank"><i class="icon-twitter"></i></a></h4>
							<p>Containers and Serverless, both have become foundational components of modern application development and deployment.
								However, there are tradeoffs and design decisions that has to be taken into account.</p>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 border-right">

					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/tameika_reed_400px.jpg" alt="Tameika Reed" width="200px">
							<h3 style="display:inline">Feb 24 @ 1pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Deploying your app to the Cloud</h3>
							<h4>Speaker: Tameika Reed &nbsp<a href="https://www.linkedin.com/in/tameika-reed-1a7290128/" target="_blank"><i class="icon-linkedin"></i></a></h4>
							<p>We will discuss the concerns when deploying an application to the cloud.
								One of the first major decisions consist of selecting which public or private cloud platform to leverage.
								If a public cloud is selected you have to decide if you want to be tightly coupled to a particular cloud
								vendor such as AWS, Azure or GCP.  The decision to be tightly coupled to a cloud provider will decrease your
								development time, but it has the potential to lock you into a particular cloud provider.  An alternative approch
								consist of making your application cloud agnostic as much as possible so that you can move the application between
								cloud providers or distribute your application accross multiple cloud providers to minimize downtime from Internet
								outages.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/duo_500x161.png" width="200px" alt="Duo Security">
							<h3 style="display:inline">Feb 25 @ 1pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Passwordless Security</h3>
							<h4>Speaker: Duo Security &nbsp<a href="https://duo.com/" target="_blank"><i class="icon-web"></i></a></h4>
							<p>Passwordless provides secure access for every enterprise use case (hybrid, cloud, on-premises and legacy apps).
								Duo is innovating toward a true passwordless future that balances usability with stronger authentication.
								Passwordless gives users a frictionless login experience, while reducing administrative burden and
								overall security risks for the enterprise.</p>
							<p>In this session we will walk-thru an example of how to implement Passwordless security into your applications</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 border-right">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/tracy_p_holmes_400px.png" alt="Tracy P Holmes" width="200px">
						  <h3 style="display:inline">Feb 24 @ 2pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Automating Deployments using HashiCorp Terraform</h3>
							<h4>Speaker: Tracy P. Holmes &nbsp <a href="https://www.linkedin.com/in/tracypholmes/"><i class="icon-linkedin"></i></a></h4>
							<p>Terraform is a tool for building, changing, and versioning infrastructure safely and efficiently.
								 Terraform can manage existing and popular cloud service providers such as AWS, Azure and GCP as well as
								  on-premise private cloud infrastructure.<p>
							<p>In this session we will walk thru deploying your application using HashiCorp Terraform.
								It uses infrastructure as code to deploy consistently to a cloud provider.
								This means that you can spin up the infrastructure, test it and destroy it without having to login
								to the cloud provider console and manually setup the components.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/andrew_cameron.jpg" width="200px" alt="Hacking With The Homies">
							<h3 style="display:inline">Feb 25 @ 2pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Refactoring For the Cloud: Security Focus </h3>
							<h4>Speaker: Andrew Cameron &nbsp<a href="https://www.linkedin.com/in/kandrewcameron/" target="_blank" class="icon-linkedin"></i></a></h4>
							<p>Moving an exisitng application thats deployed on premise to the cloud takes some planning.
								Part of that planning consists of looking at how security was implemented in the application and
								in many cases it's a perfect time to refactor the authentication components and perhaps the authorization framework.</p>

							<p>In this session we will discuss different approaches and talk through the pro and cons.
								We will take a sample application and show how the authtentiation portion can be replaced
								with a cloud native approach.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 border-right">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/ivan_herndon_400px.png" width="200" alt="Ivan Herndon">
							<h3 style="display:inline">Feb 24 @ 3pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Deploying to the Cloud without the Baggage</h3>
							<h4>Speaker: Ivan Herndon &nbsp<a href="https://www.linkedin.com/in/ivan-herndon-58386541/"  target="_blank" class="icon-linkedin"></i></a></h4>
							<p>Deploying to the cloud can be complicated.  There are a number of things that you need
								to understand  in order to deploy your application in a highly available  architecture in the Cloud - it's not free.
								 In some cases, your don't need or have the time to deal with the complexity.</p>
							<p>In this session we will walk thru how to deploy an application using <a href="https://jamstack.org/" target="_blank">Jamstack</a>
								to a cloud service that abstracts us from the complexity of deploying to the cloud.
								That's the easy part...but, we still have design decisions that we have to make such as
								security and which database backend should we use.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/hwthdc_social_image.png" width="200px" alt="Eric Jones">
							<h3 style="display:inline">Feb 25 @ 3pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Managing Secrets across Multiple Clouds</h3>
							<h4>Speaker: TBD &nbsp<a href="" target="_blank" class="icon-twitter"></i></a></h4>
							<p>While there are many tools that manage some secrets, most tools are designed specifically for one platform (i.e. Docker), or a small subset of platforms. Then, there are application password management tools that can broadly manage application passwords, eliminate hardcoded and default passwords, and manage secrets for scripts.

In this session we will introduce you to HashiCorp Vault, a secrets management platform thats cloud agnostic.  It gives you the flexibility of deploying your application across multiple clouds using a single tool for storing and retrieving secrets.  We will walk-thru an example of how to integrate Vault into your application.
						</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 border-right">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/pedro_sanders_400px.png" width="200px" alt="Pedro Sanders">
							<h3 style="display:inline">Feb 24 @ 4pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Programmable Communications in the Cloud without Twilio</h3>
							<h4>Speaker: Pedro Sanders &nbsp<a href="https://twitter.com/sandedro" target="_blank" class="icon-twitter"></i></a></h4>
						  <p>Twilio is probably the defacto standard when needing to implement SMS or voice Communications into your projects.
								But, there are other ways to implement that are more cost effective and gives you more control.  In this session we will
								introduce you to Project Fonos, an OpenSource Alternative to Twilio.  We will deploy Project Fonos, configure it and
								make an outbound call using the API.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
							<img src="static/images/2021/xavier_johnson_400px.jpg" width="200px" alt="Xavier D. Johnson">
							<h3 style="display:inline">Feb 25 @ 4pm </h3>
						</div>
						<div class="gtco-copy">
							<h3>Keeping Your Deployment Pipeline Secure: Zero Trust in the Cloud </h3>
							<h4>Speaker: Xavier D. Johnson&nbsp<a href="https://www.linkedin.com/in/xavierdjohnson/" target="_blank" class="icon-limkedin"></i></a></h4>
						  <p>At this point, we have all at least heard about the SolarWinds breach.
								We will provide an high-level overview of how this breach occured and provide
								 some approaches on how to minimize this from happening to your organization.</p>
							<p>In this session we will walk-thru how to inject checks to validate that the components
								 being deployed into your cloud environment has not been compromised.
								 Also, we will discuss how continous integration and deployment can contain
								 the amount of damage a rogue hacker can do in your environment.</p>
						</div>
					</div>
				</div>


	<section id="gtco-sponsor-conference" data-section="sponsor-conference">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Sponsorship Opportunities</h1>
					<p class="sub">We are looking for sponsors that see value in building better software products by having a diverse set of software developers that have different perspectives<br>
					Our sponsorship packet can be found <a href="https://docs.google.com/presentation/d/e/2PACX-1vTD4ZhpbUaj1QQ8uHjM3lJYB1H3U096iEWTcd_qZQtmclw40SETo8ag3hK-QrvSGiB7tbzKjFlmNUOp/pub?start=false&loop=false&delayms=3000" target="_blank">here</a></p>
					<!--<p class="subtle-text animate-box" data-animate-effect="fadeIn">Our Team</p> -->
				</div>
		</div>
	</section>

	<section id="gtco-contact" data-section="contact">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Contact Us</h1>
					<p class="sub">We are constantly looking to grow our community and looking to partner with organizations that believe in our mission</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box" id="contact-thankyou">
	         <span id='close' onclick='$(this).parent().hide();$("#contact-form")[0].reset();$("#contact-form").fadeIn();'>x
	        </span>
	        <h2>Thanks...</h2>
	        <small>We'll get back to you as quickly as possible</small>
	      </div>

				<div class="col-md-6 col-md-push-6 animate-box">
					<form id="contact-form" action="#">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Purpose</label>
							<select class="form-control" id="purpose">
							<option>Select Purpose for Contacting Us</option>
					    <option>Want to Sponsor the Conference</option>
							<option>Question about the Conference</option>
					    <option>Want General Info</option>
					  </select>
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="col-md-4 col-md-pull-6 animate-box">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">4160 Cass Ave, Suite B. Detroit, MI 48201</li>
							<li class="phone"><a href="tel://13137891310">+1 313-789-1310</a></li>
							<li class="email"><a href="mailto:info@detroitblacktech.org">info@detroitblacktech.org</a></li>
							<li class="url"><a href="#">https://detroitblacktech.org</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="gtco-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2019-2021 Detroit Black Tech. All Rights Reserved.</small>
						<small class="block">Designed by Detroit Black Tech</small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="https://twitter.com/detroitblackTe2"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/detroitblacktech/"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.linkedin.com/company/detroitblacktech"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://www.instagram.com/detroitblacktech/"><i class="icon-instagram"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>
	{% block frontend_js %}
	{% endblock %}

	</body>
</html>
