{% extends "layout.html" %}
{% block title %}
  DetroitPBX Blog
{% endblock %}
{% block body %}
 <!-- Page Header -->
    <header class="blog-header">
      <div class="blog-overlay">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="site-heading text-white">
              <h1>{% block post_title %}Dipping Your Toe In The Water{% endblock %}</h1>
              <span class="blog-lead">Posted by Mack Hendricks on January 15, 2018 </span>
            </div>
          </div>
        </div>
    </header>
  <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
         <p> Opening a business is a rewarding, challenging and scary experience.   The City of Detroit has a <a href="http://www.detroitmi.gov/How-Do-I/Apply-for-Licenses/Business-License-Checklist">Business License Checklist</a>, which will help you navigate the process.  Many of the steps are still not automated and can’t be submitted online.   But at least the forms can be downloaded and filled out before you make your way down to the Coleman A. Young Municipal Center, which is where you need to submit documents for the first two steps of the checklist.  I remember a time in Detroit where you had to actually go down to the Municipal Center and wait in line to just pickup a form.  Hence, the process has gotten a little easier!</p>
<p>
If you are like me, I come up with new business ideas almost every other day.   Most of my business ideas are rooted in technology with a focus on building an Internet based service or product, but this article will apply to any type of business.  In order to test out my business ideas I will purchase a web domain from GoDaddy, create a one page website, setup a phone number for the business and run some Google Ad’s or Facebook Ad’s.  I typically run the ad’s for two weeks within a very narrow geography.   This typically gives me some insight on the need of the service.</p> 
<p>
I try to place the phone number in the ad or prominently on the web site with the hope that potential customers will call me because the feedback you get directly from talking from a potential customers is irreplaceable – you have the ability to hear the emotion in their voice and you are able to ask follow-up and clarifying questions in real-time.</p>
<p>
Here’s my typical budget for researching a new business idea:</p>
</p>

<p>
<a href="https://www.godaddy.com/domains/domain-name-search">GoDaddy Domain</a> ($7.99-$15.00/year)<br>
<a href="https://www.godaddy.com/websites/website-builder#pricing">GoDaddy WebSite Builder</a> (5.99/month)<br>
<a href="/#contactus">Detroit Phone Number (313 Area Code)</a> ($15/month) [ Try Us Out]<br>
<a href="https://adwords.google.com/home">Google Ad’s</a>/<a href="https://www.facebook.com/business/products/ads">Facebook Ad’s</a> ($100-up)
<br><br>
The total minimum cost of validating an idea will cost about $130 for a couple weeks.
</p>
	  </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}
